.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  html,
body {
  height: 100%;
}

/* .form-update {
  margin-bottom: 5px;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-bottom: 0;
  margin: auto;
} */

.form-update .checkbox {
  font-weight: 400;
}

.form-update .form-floating:focus-within {
  z-index: 2;
}

.form-update input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-update input[type="text"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.form-update input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.register {
  font-size: 0.8rem;
  margin-bottom: 0;
}


.form-control.ng-touched.ng-invalid{
  border : 1px solid red;
} 
.form-control.ng-touched.ng-valid{
  border : 1px solid green;
}