<main class="mt-4 mx-5 px-5 form-update">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="">User Profile</h3>
                <form [formGroup] = "updateUserProfileForm" class="" (ngSubmit) = "onSubmit()">
	                <div class="form-group">
                        <label for="floatingInputName">Name</label> 
                        <input type = "text" class="form-control" id="floatingInputName" [(ngModel)]="userObj.userName"  placeholder="Name" [formControlName]="'var_name'">
           	            <!-- validation  -->
                        <small *ngIf = "var_name?.invalid && var_name?.touched" class = "text-danger">Name is required</small>
                    </div>
                    <div class="form-group">
                        <label for="floatingInput">Email address</label>
                        <input type = "email" class="form-control" id="floatingInput" disabled [(ngModel)]="userObj.userEmail" pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" placeholder="name@example.com" [formControlName]="'var_email'">
                        <!-- validation  -->
                        <small *ngIf = "var_email?.invalid && var_email?.touched" class = "text-danger">Email is not valid</small>
                    </div>
                    <div class="form-group">
                        <label for="floatingPassword">Password</label>
                        <input type="password" class="form-control" id="floatingPassword" pattern = "^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" placeholder="Password" [formControlName]="'var_password'">
                
                        <!-- validation  -->
                        <small *ngIf = "var_password?.invalid && var_password?.touched" class = "text-danger">Password should be of minimum length 8 and should contain atleast 1 Uppercase Letter, 1 lowercase letter, 1 digit and 1 Special Character(#?!@$%^&*-)</small>
                    </div>
                        <button [disabled] = updateUserProfileForm.invalid type="submit" class="btn-block btn btn-lg button-success">UPDATE</button>
                    <div *ngIf="!userObj.cd; else updateBtn" >
                        <button type="submit" class="btn-block btn btn-lg button-success" [routerLink]="['addContactDetails']">Add contact</button>
                    </div>
                    <ng-template #updateBtn>
                        <button type="submit" class="btn-block btn btn-lg button-success" [routerLink]="['updateContactDetails']">Update contact</button>
                    </ng-template>
	            </form>
            </div>
            <!-- <div class="container px-4">
                <div class="row mt-4">
                    <h3>{{chMessage}}</h3>
                    <h3>Your WishList </h3>
                     <p class="lead">You have {{wishList.length}} items in your WishList.</p>
                </div>
                <div class="row"> -->
                    <div class="col-md-8">
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let w of wishList">
                                    <th class="my-2 align-middle">{{w.productName}}</th>
                                    <td>
                                        <form>
                                            <div class="w-50 input-group my-2">
                                            <label for="">{{productList}}</label>
                                            </div>
                                            </form>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-outline-danger m-2" (click)="onDelete(w.wishListItemId)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
</main>
