 <header class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" routerLink="/">
                <img src="assets/logo/logo_green.png" alt="" width="50" height="50" class="d-inline-block mx-2">
                <span class="brand-name">Techzy</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">
                            <i class="fas fa-home success"></i> Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-th-large success"></i> All Categories
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-mobile-alt success ps-1"></i> Mobiles
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-laptop success pe-1"></i>Laptops
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="products">All Products</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-balance-scale-left success"></i>
                            Compare
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cartItems/{{userIdNum}}"><i class="fas fa-shopping-cart success"></i> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="signin" ><i class="fas fa-sign-in-alt success"></i> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>

<div class="container">
    <footer class="row d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
        <p class="col-md-4 text-muted">© 2021 Techzy</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="assets/logo/logo_light.png" width="50" alt="Techzy"> 
            <p class="col-md-4 mb-0 text-muted">Techzy</p>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a routerLink="/products" class="nav-link px-2 text-muted">Products</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Compare</a></li>
            <li class="nav-item"><a routerLink="cartItems/{{userIdNum}}" class="nav-link px-2 text-muted">Cart</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>

