.f-section {
    border-right: 2px solid #26C999;
}

.bg-image {
    max-height: 450px;
    max-width: 100%;
    padding: 2rem 1rem;
    object-fit: cover;
    overflow: hidden;
    background-size: contain;
}

.carousel-item {
    height: 400px;
}

.carousel-item .active{
    display: flex;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
}

.carousel-caption h3 {
    color: #26C999;
}

.carousel img {
    height: 70%;
    padding: 30px;
    padding-top: 15px;
    margin: 10px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption a{
    margin: 0 auto;
}

@media (max-width:767px) {
    .f-section {
        border-right: 0px solid;
        border-bottom: 2px solid #26C999;
    }

    .f-section p:last-child {
        display: none;
    }

    .carousel-caption h3 {
        font-size: 1.7rem;
    }
}