<div class="container mt-3">
    <div class="row mx-3">
      <div class="col-md-6 border-3 border-success border-end my-auto">
        <h1 class="fw-bold text-center mb-3">About Us!</h1>
        <p>&nbsp; &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dicta suscipit rem quos tenetur. Corporis quibusdam tenetur natus quos, necessitatibus velit similique deserunt cupiditate? Nihil nisi tenetur non illum est.</p>
        <br>
        <p>&nbsp; &nbsp; Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dicta suscipit rem quos tenetur. Corporis quibusdam tenetur natus quos, necessitatibus velit similique deserunt cupiditate? Nihil nisi tenetur non illum est.</p>
      </div>
      <div class="col-md-6 text-center col-img">
        <img src="assets/images/about.jpg" alt="" class="bg-image">
      </div>
    </div>
</div>

<main class="container text-center py-4 mt-4 border-top border-2">
    <h1 class="my-2 fw-bold">Meet Our Team!</h1>
    <div id="myCarousel" class="carousel slide  align-center" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="bg-dark"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="bg-dark"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3" class="bg-dark"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 4" class="bg-dark"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/laksh.jpeg" alt="Laksh" class="d-block img-fluid">
                <div class="container">
                    <div class="carousel-caption">
                      <h3>Laksh Jadhwani</h3>
                      <p class="text-muted text-uppercase">Angular Developer</p>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/crystal.jpg" alt="Crystal" class="d-block img-fluid">
              <div class="container">
                <div class="carousel-caption">
                  <h3>Crystal Monis</h3>
                  <p class="text-muted text-uppercase">Java Developer</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/tanya.jpg" alt="Alexa" class="d-block img-fluid">
                <div class="container">
                    <div class="carousel-caption">
                      <h3>Tanya Mahato</h3>
                      <p class="text-muted text-uppercase">Java Developer</p>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/sanjana.jpg" alt="Alexa" class="d-block img-fluid">
                <div class="container">
                    <div class="carousel-caption">
                      <h3>Sanjana Narang</h3>
                      <p class="text-muted text-uppercase">SQL Developer</p>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/rahul.jpg" alt="Alexa" class="d-block img-fluid">
                <div class="container">
                    <div class="carousel-caption">
                      <h3>Rahul Tejwani</h3>
                      <p class="text-muted text-uppercase">Full Stack Developer</p>
                    </div>
                  </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>