<div class = "container mt-5 mx-3">
<div class = "row px-5">
    <div class="col-sm-6">
        <h1 class="retailer-header">Grow your business faster by selling at 0% commission</h1>
        <p class="retailer-caption">Sell your products to crores of customers on Meesho at 0% commission</p>
        <button type="submit" class="btn btn-lg button-success me-3" [routerLink]="['newProduct']">Add Product</button>
        <button type="submit" class="btn btn-lg button-success" [routerLink]="['products']">View Products</button>
    </div>
    <div class = "col-sm-6 text-center">
        <img width ="530" height = "420" src = "https://static.meeshosupply.com/supplier-new/meesho_static_images/homepage-banner-image_vs.jpg">
    </div>
</div>
</div>