<div class = "container mt-4">
<div class = "row mx-3">
    <div class="col-md-6 my-auto f-section">
        <h3 class="h3">Grow your business faster by selling at 0% commission!</h3>
        <p class="lead">Sell your products to crores of customers on Techzy at 0% commission.</p>
        <div class="row mb-3 gx-0">
            <div class="col">
                <button type="submit" class="btn btn-lg button-success me-3" [routerLink]="['newProduct']">Add Product</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-lg button-success" [routerLink]="['products']">View Products</button>
            </div>
        </div>
    </div>
    <div class = "col-md-6 text-center col-img">
        <img src="assets/images/dashboard.jpg" class="bg-image" alt="">
        <!-- <img width ="530" height = "420" src = "https://static.meeshosupply.com/supplier-new/meesho_static_images/homepage-banner-image_vs.jpg"> -->
    </div>
</div>
</div>