<!-- <div class="container px-4">
    <div class="row mt-4">
        <h3>{{chMessage}}</h3>
        <h3>Your WishList </h3>
         <p class="lead">You have {{wishList.length}} items in your WishList.</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let w of wishList">
                        <th class="my-2 align-middle">{{w.productId}}</th>
                        <td>
                            <form>
                                <div class="w-50 input-group my-2">
                                <label for="">{{productList}}</label>
                                </div>
                                </form>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-outline-danger m-2" (click)="onDelete(w.wishListItemId)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
</div> -->