<div class="container">
    <div class="my-4">
        <h3 class="h3">Update your {{product.productName}}</h3>
    </div>
    <div class="mt-3">
        <form [formGroup] ="updateProductForm" > 
          <!-- (ngSubmit) = "onSubmit()" -->
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="" [formControlName]  ="'productType'" [(ngModel)]="product.productType">
                      <option selected value="">Select Product Type</option>
                      <option value="M">Mobile</option>
                      <option value="L">Laptop</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" [formControlName]  ="'productName'" [(ngModel)]="product.productName">
                      <label for="floatingInputGrid">Product Name</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="floatingTextarea" placeholder="name@example.com" value="" [formControlName]  ="'productDescription'" [(ngModel)]="product.productDescription">
                      <label for="floatingTextarea">Product Description</label>
                    </div>
                </div>
            <!-- </div> -->
              <!-- <div class="row mt-3"> -->
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" [formControlName]  ="'productPrice'" [(ngModel)]="product.productPrice">
                    <label for="floatingInputGrid">Product Price</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid" aria-label=""  [formControlName]  ="'productTotalQuantity'" [(ngModel)]="product.totalQuantity">
                            <option selected value="">Select Total Quantity</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                          </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingTextarea" placeholder="name@example.com" value="" [formControlName]  ="'productInStock'" [(ngModel)]="product.inStock">
                    <label for="floatingTextarea">No.of Products in stock</label>
                  </div>
                </div>
              </div>
              <div class="mb-4 d-flex justify-content-center flex-row">
                <div class="mx-3">
                  <button class="btn btn-danger text-uppercase" type="" (click)="cancel()"><i class="fas fa-window-close"></i> Cancel</button>
                </div>
                <div class="mx-3">
                  <button class="btn button-success text-uppercase" type="submit" (click)="onSubmit()"><i class="fas fa-edit"></i> Update</button>
                </div>
                <div class="mx-3" *ngIf="!(this.mobile || this.laptop)">
                  <button class="btn button-success text-uppercase" type="submit" (click)="addMoreDetails()"><i class="fas fa-edit"></i> Add more details</button>
                </div>
                <div class="mx-3" *ngIf="this.mobile || this.laptop">
                  <button class="btn button-success text-uppercase" type="submit" (click)="editMoreDetails()"><i class="fas fa-edit"></i> Edit more details</button>
                </div>
              </div>
        </form>
        <div [hidden]="!submitted">
          <p>Product Updated Successfully</p>
        </div>
    </div>
</div>

