<div class="container px-4">
    <h3 class="mt-4">List of Added Products</h3>
    <p class="lead">You have {{productList.length}} products on Techzy.</p>
    <div [hidden] = "!deleted" class="alert alert-warning" role="alert">
        Product deleted Successfully
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Total Quantity</th>
                <th>In Stock</th>
                <th>Product Type</th>
                <th class="text-center">Modify</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let p of productList;">       
                <td class="my-2 align-middle"> {{p.productName}} </td>
                <td class="my-2 align-middle"> {{p.productDescription}} </td>
                <td class="my-2 align-middle"> {{p.productPrice}} </td> 
                <td class="my-2 align-middle text-center"> {{p.totalQuantity}}</td>
                <td class="my-2 align-middle text-center"> {{p.inStock}}</td>  
                <td class="my-2 align-middle text-center"> {{p.productType}}</td>
                <td class="my-2 align-middle text-center"> 
                    <button class="btn btn-outline-success" [routerLink]="['/updateProduct',p.productId]" >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td class="my-2 align-middle text-center"> 
                    <button class="btn btn-outline-danger" (click) = "deleteProduct(p.productId)">
                        <i class="fas fa-trash"></i>    
                    </button>
                </td>
            </tr>
            <tr *ngIf="!productList || productList.length==0">										
                <th colspan="6">										
                  <p class="text-right text-danger">Oops!! Sorry No Products Available</p>										
                </th>										
              </tr>	

        </tbody>
    </table>

</div>