<div class="container px-4">
    <div class="row mt-4">
        <h3>Shopping Cart</h3>
        <p class="lead">You have {{cartList.length}} items in your cart.</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table" >
                <thead>
                    <tr>
                        <th>product Name</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of cartList">
                        <th class="my-2 align-middle">{{c.productName}}</th>
                        <td class="my-2 align-middle"> 
                            <span class="d-inline">{{c.quantity}}
                            <form [formGroup] = "cartItemForm">    
                                <select class="form-select form-select-sm w-75 d-inline" id="floatingSelectGrid" aria-label=""  placeholder="name@example.com" value= "" [formControlName]  ="'newQuantity'">
                                    <option value="" selected>Select New Quantity</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </form>
                        </span>
                        </td>
                            <td class="my-2 align-middle">{{c.productPrice | currency:"INR"}}</td>
                            <td class="text-center">
                                <button class="btn btn-outline-success m-2" (click)="updateQuantity(c)">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-outline-danger m-2" (click)="onDelete(c.cartItemId)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 px-4">
            <h3>Total Cost:</h3>
            <h2>{{getGrandTotal() | currency: 'INR'}}</h2>
            <button class="btn button-success btn-lg w-100 text-uppercase py-3">Checkout</button>
        </div>
    </div>
</div>