<div class="container">
    <div class="my-4">
        <h3 class="h3">New Product</h3>
    </div>
    <div class="mt-3">
        <form [formGroup] = "addProductForm">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label=""  placeholder="name@example.com" value= "" [formControlName]  ="'productType'">
                      <option value="" selected>Product Type</option>
                      <option value="M">Mobile</option>
                      <option value="L">Laptop</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" [formControlName]  ="'productName'">
                      <label for="floatingInputGrid">Product Name</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea"  placeholder="name@example.com" value= "" [formControlName]  ="'productDesc'">
                    <label for="floatingTextarea">Product Description</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" [formControlName] ="'productPrice'" value="" placeholder="name@example.com" value="">
                    <label for="floatingInputGrid">Product Price</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid" aria-label="" [formControlName]  ="'productTotalQuantity'">
                            <option value="" selected>Select Total Quantity</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                          </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea" placeholder="name@example.com" value=""  [formControlName]  ="'productInStock'">
                    <label for="floatingTextarea">No.of Products in stock</label>
                  </div>
                </div>
              </div>
              <div class="mb-4 d-flex justify-content-center flex-row">
                <div class="mx-3">
                  <button class="btn btn-danger text-uppercase px-3" type="" (click)="cancel()"><i class="fas fa-window-close"></i> Cancel</button>
                </div>
                  <div class="mx-3">
                    <button class="btn button-success text-uppercase" type="" (click)="onSubmit()"><i class="fas fa-plus"></i> Add Product</button>
                  </div>
              </div>
        </form>
        <div [hidden]="!submitted" class="alert alert-success" role="alert">
          <p>Product Added Successfully</p>
        </div>
    </div>
    
</div>

