<div class="container px-4">
    <h3 class="mt-4">List of Registered Users</h3>
    <p class="lead">You have {{userList.length}} users on your app.</p>
    <div [hidden]="!updated" class="alert alert-success" role = "alert">
        Customer has been Successfully updated to Retailer
    </div>
    <div [hidden]="!deleted" class="alert alert-warning" role = "alert">
        User deleted Successfully
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>User Email</th>
                <th class="text-center">User Type</th>
                <th class="text-center">Update to Retailer</th>
                <th class="text-center">Delete User</th>
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let u of userList;">              
                <td class="my-2 align-middle"> {{u.userId}} </td>
                <td class="my-2 align-middle"> {{u.userName}} </td>
                <td class="my-2 align-middle"> {{u.userEmail}} </td> 
                <td class="my-2 align-middle text-center"> {{u.userType}}</td>  
                <td class="my-2 align-middle text-center"> 
                    <button class="btn btn-outline-success" [disabled]="u.userType=='R' || u.userType=='A'" (click)="updateUserType(u)">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td class="my-2 align-middle text-center"> 
                    <button class="btn btn-outline-danger" (click)="deleteUser(u.userId)">
                        <i class="fas fa-trash"></i>    
                    </button>
                </td>
            </tr>
            <tr *ngIf="!userList || userList.length==0">										
                <th colspan="6">										
                  <p class="text-right text-danger">Sorry No Users Available</p>										
                </th>										
              </tr>	

        </tbody>
    </table>

</div>