<h3 class="p-3 text-center">Angular - Display a list of Users</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>User Type</th>
                <!-- <th>Primary Phone Number</th>
                <th>Secondary Phone Number</th>
                <th>Primary Address</th>
                <th>Secondary Address</th> -->

                 
                  
            </tr>
        </thead>
        <tbody>
              <tr *ngFor="let u of userList;">              
                <td> {{u.userId}} </td>
                <td> {{u.userName}} </td>
                <td> {{u.userEmail}} </td> 
                <td> {{u.userType}} </td>  
                <!-- <td> {{u.contactDetails.getPrimaryPhoneNo()}} </td>  
                <td> {{u.contactDetails.secondaryPhoneNo}} </td>  
                <td> {{u.contactDetails.primaryAddress}} </td>   -->
                <!-- <td> {{u.contactDetails.shippingAddress}} </td>                          -->
               
            </tr>

        </tbody>
    </table>

</div>