<div class="container">
    <div class="my-4">
        <h3 class="h3">Add details about {{product.productName}}</h3>
    </div>
    <div class="mt-3">
        <form [formGroup] = "addMobileForm">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" [formControlName]  ="'ram'">
                      <label for="floatingInputGrid">Ram</label>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea"  placeholder="name@example.com" value= "" [formControlName]  ="'rom'">
                    <label for="floatingTextarea">Rom</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" [formControlName] ="'camera'" value="" placeholder="name@example.com" value="">
                    <label for="floatingInputGrid">Camera</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea" placeholder="name@example.com" value=""  [formControlName]  ="'resolution'">
                    <label for="floatingTextarea">Resolution</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" [formControlName]  ="'sim'">
                    <label for="floatingInputGrid">Sim</label>
                  </div>
                </div>
              
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea"  placeholder="name@example.com" value= "" [formControlName]  ="'processor'">
                    <label for="floatingTextarea">Processor</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" [formControlName] ="'os'" value="" placeholder="name@example.com" value="">
                    <label for="floatingInputGrid">OS</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea" placeholder="name@example.com" value=""  [formControlName]  ="'color'">
                    <label for="floatingTextarea">Color</label>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingTextarea" placeholder="name@example.com" value=""  [formControlName]  ="'battery'">
                    <label for="floatingTextarea">Battery</label>
                  </div>
                </div>

              </div>
              <div class="mb-4 d-flex justify-content-center flex-row">
                <!-- <div class="mx-3">
                  <button class="btn btn-danger text-uppercase px-3" type="" (click)="cancel()"><i class="fas fa-window-close"></i> Cancel</button>
                </div> -->
                  <div class="mx-3">
                    <button class="btn button-success text-uppercase" type="" (click)="onSubmit()"><i class="fas fa-plus"></i> Add Details</button>
                  </div>
              </div>
        </form>
        <div [hidden]="!submitted">
          <p>Mobile Added Successfully</p>
        </div>
    </div>
    
</div>

