/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto Mono', monospace;
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 2rem;
}

.success {
    color: #26C999;
}

.button-success {
    color: #fff;
    background-color: #26C999;
}

.button-success:hover {
    color: #fff;
    background-color: #0a927b;
}