* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 2rem;
}

.success {
    color: #26C999;
}

.button-success {
    color: #fff;
    background-color: #26C999;
}

.button-success:hover {
    color: #fff;
    background-color: #0a927b;
}