<section class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0 text-center">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox">
                <div class="row product-gallery mx-1">
                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <img src="assets/images/macbookPro3.jpg" alt="" class="img-fluid z-depth-1">
                        </figure>
                        <figure class="view overlay rounded z-depth-1">
                            <img src="assets/images/macbookPro2.jpg" alt="" class="img-fluid z-depth-1">
                        </figure>
                        <figure class="view overlay rounded z-depth-1">
                            <img src="assets/images/macbookPro3.jpg" alt="" class="img-fluid z-depth-1">
                        </figure>
                        <figure class="view overlay rounded z-depth-1">
                            <img src="assets/images/macbookPro1.jpg" alt="" class="img-fluid z-depth-1">
                        </figure>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="assets/images/macbookPro1.jpg" alt="" class="img-fluid icons">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="assets/images/macbookPro2.jpg" alt="" class="img-fluid icons">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="assets/images/macbookPro3.jpg" alt="" class="img-fluid icons">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="view overlay rounded z-depth-1 gallery-item">
                                    <img src="assets/images/macbookPro4.jpg" alt="" class="img-fluid icons">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 px-4">
            <h3 class="h3">{{product.productName}}</h3>
            <p class="mb-2 text-muted text-uppercase small">{{product.productType == "L" ? "Laptop" : "Mobile"}}</p>
            <ul class="rating p-0">
                <li><i class="fas fa-star fa-sm success"></i></li>
                <li><i class="fas fa-star fa-sm success"></i></li>
                <li><i class="fas fa-star fa-sm success"></i></li>
                <li><i class="fas fa-star fa-sm success"></i></li>
                <li><i class="far fa-star fa-sm success"></i></li>
            </ul>
            <p><span class="me-1"><strong>{{product.productPrice | currency: "INR"}}</strong></span></p>
            <p class="pt-1">{{product.productDescription}}</p>
            <div [hidden]>{{getAllFeatures()}}</div>
            <div class="row">
                <div class="col">
                    <div class="row"></div>
                </div>
                <div class="col"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Model</strong></th>
                            <td>{{product.productName}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Color</strong></th>
                            <td>{{getColor()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>OS</strong></th>
                            <td>{{getOS()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Processor</strong></th>
                            <td>{{getProcessor()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Battery</strong></th>
                            <td>{{getBattery()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Ram</strong></th>
                            <td>{{getRam()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Rom</strong></th>
                            <td>{{getRom()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Camera</strong></th>
                            <td>{{getCamera()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>Resolution</strong></th>
                            <td>{{getResolution()}}</td>
                        </tr>
                        <tr>
                            <th class="ps-0 w-25" scope="row"><strong>{{product.productType === "M" ? 'Sim' : 'USB Slots'}}</strong></th>
                            <td>{{getFeature()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <!-- <button type="button"  class="btn button-success text-uppercase px-4 me-1 mb-2">
                Buy now
            </button> -->
            <button type="button" (click)="addToCart(product)" class="btn button-success text-uppercase px-4 me-3 mb-2">
                <i class="fas fa-shopping-cart"></i> Add to cart
            </button>
            <button type="button" (click)="addToWishList(product)" class="btn btn-danger text-uppercase px-4 me-1 mb-2">
                <i class="fas fa-heart"></i> wishlist
            </button>
        </div>
    </div>
</section>