<main class="form-signin text-center">
  <form [formGroup] = "signinform" (ngSubmit) = "onSubmit()">
    <img class="mb-2" src="assets/logo_green.png" alt="Techzy" width="75" height="75">
    <h2 class="h3">Sign in into your account</h2>

    <div class="form-floating mb-4 mt-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [formControlName]="'var_email'">
      <label for="floatingInput">Email address</label> 
      <!-- validation -->
      <!-- <div *ngIf="signinform.controls.var_email.errors" class="error">											
        <div class="text-danger" *ngIf="signinform.controls.var_email.errors.required">Email is required</div>											
      </div>	 -->
      <!-- <div *ngIf="!var_email?.valid && (var_email?.dirty ||var_email?.touched)"> -->
      <div *ngIf=" submitted && (var_email?.dirty || var_email?.errors)">		
        <div class="text-danger" *ngIf="signinform.controls.var_email.errors?.required || signinform.controls.var_email.errors?.email">
          Enter valid Email 
        </div>
        <!-- <div *ngIf="signinform.controls.var_email.errors?.email">
            Enter valid email id
        </div>  -->
      </div> 
    </div>
    <div class="form-floating mb-4">
      <input type="password" class="form-control" [class]="error" id="floatingPassword" placeholder="Password" [formControlName]="'var_password'">
      <label for="floatingPassword">Password</label>
      <div *ngIf=" submitted && (var_password?.dirty || var_password?.errors)">		
        <div class="text-danger" *ngIf="signinform.controls.var_password.errors?.required">
            Password is required
        </div>
        <!-- <div *ngIf="signinform.controls.var_password.errors?.minlength">
            Password should be of min 8 characters
        </div>   -->
      </div> 
    </div>
    <button class="w-100 btn btn-lg button-success text-uppercase" type="submit">Log in</button>
    <div class = "forgot-signup text-center mt-2">
      <a class = "forgot" routerLink = "/forgotpassword" >Forgot Password?</a><br>
      <p class="register">
        Don't have an account? <a class="signup success" routerLink = "/signup">Register here.</a>
      </p>
      
    </div>
  </form>
</main>
<router-outlet></router-outlet>
