.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-bottom: 0;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot{
  color:rgba(17, 17, 17, 0.562);
  text-decoration: none;
}

.register {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.signup{
    margin-top: 50px;
    font-weight: bold;
    text-decoration: none;
}
.form-control.ng-touched.ng-invalid{
  border : 1px solid red;
} 
.form-control.ng-touched.ng-valid{
  border : 1px solid green;
}